@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.text-shadow {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /* Ombre légère */
}

@media (min-width: 1200px) and (max-width: 1399px) {
  /* Vos styles spécifiques */
  .ei_m {
    margin-top: -40px;
    margin-left: -14px;
  }
  .ca_m {
    margin-top: -33px;
    margin-left: -22px;
  }
  .mdj_m {
    margin-top: -39px;
    margin-left: -27px;
  }
  .mba_m {
    margin-top: -43px;
    margin-left: -43px;
  }
  .d_m {
    margin-top: -40px;
    margin-left: -48px;
  }
}

@media (min-width: 449px) and (max-width: 574px) {
  /* Vos styles spécifiques */
  .ei_m {
    margin-top: -40px;
    margin-left: -22px;
  }
  .ca_m {
    margin-top: -33px;
    margin-left: -33px;
  }
  .mdj_m {
    margin-top: -39px;
    margin-left: -44px;
  }
  .mba_m {
    margin-top: -43px;
    margin-left: -70px;
  }
  .d_m {
    margin-top: -40px;
    margin-left: -69px;
  }
}
@media (min-width: 368px) and (max-width: 448px) {
  /* Vos styles spécifiques */
  .ei_m {
    margin-top: -83px;
    margin-left: -43px;
  }
  .ca_m {
    margin-top: -60px;
    margin-left: -59px;
  }
  .mdj_m {
    margin-top: -80px;
    margin-left: -75px;
  }
  .mba_m {
    margin-top: -95px;
    margin-left: -120px;
  }
  .d_m {
    margin-top: -80px;
    margin-left: -120px;
  }
}

/* .cls-1 {
  color: white;
} */

.flatpickr-wrapper {
  @apply w-full;
}

.flatpickr-months .flatpickr-prev-month:hover svg,
.flatpickr-months .flatpickr-next-month:hover svg {
  @apply !fill-primary;
}

.flatpickr-calendar {
  @apply !p-6 sm:!w-auto;
}

.flatpickr-months .flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month {
  @apply !top-7;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-prev-month,
.flatpickr-months .flatpickr-next-month.flatpickr-prev-month {
  @apply !left-7;
}

.flatpickr-months .flatpickr-prev-month.flatpickr-next-month,
.flatpickr-months .flatpickr-next-month.flatpickr-next-month {
  @apply !right-7;
}

.flatpickr-day.inRange {
  box-shadow:
    -5px 0 0 #f3f4f6,
    5px 0 0 #f3f4f6 !important;
}

.flatpickr-day.inRange,
.flatpickr-day.prevMonthDay.inRange,
.flatpickr-day.nextMonthDay.inRange,
.flatpickr-day.today.inRange,
.flatpickr-day.prevMonthDay.today.inRange,
.flatpickr-day.nextMonthDay.today.inRange,
.flatpickr-day:hover,
.flatpickr-day.prevMonthDay:hover,
.flatpickr-day.nextMonthDay:hover,
.flatpickr-day:focus,
.flatpickr-day.prevMonthDay:focus,
.flatpickr-day.nextMonthDay:focus {
  @apply !border-[#F3F4F6] !bg-[#F3F4F6];
}

.flatpickr-day.selected,
.flatpickr-day.startRange,
.flatpickr-day.endRange,
.flatpickr-day.selected.inRange,
.flatpickr-day.startRange.inRange,
.flatpickr-day.endRange.inRange,
.flatpickr-day.selected:focus,
.flatpickr-day.startRange:focus,
.flatpickr-day.endRange:focus,
.flatpickr-day.selected:hover,
.flatpickr-day.startRange:hover,
.flatpickr-day.endRange:hover,
.flatpickr-day.selected.prevMonthDay,
.flatpickr-day.startRange.prevMonthDay,
.flatpickr-day.endRange.prevMonthDay,
.flatpickr-day.selected.nextMonthDay,
.flatpickr-day.startRange.nextMonthDay,
.flatpickr-day.endRange.nextMonthDay {
  background: #3c50e0;
  @apply !border-primary !bg-primary hover:!border-primary hover:!bg-primary;
}

.flatpickr-day.selected.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.startRange.startRange + .endRange:not(:nth-child(7n + 1)),
.flatpickr-day.endRange.startRange + .endRange:not(:nth-child(7n + 1)) {
  box-shadow: -10px 0 0 #3c50e0;
}

input.PhoneInputInput {
  border-color: rgb(209 213 219) !important;
  border-radius: 4px;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
  font-size: 0.875rem;
  line-height: 1.25rem;
}
