@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    font-family: "Inter", sans-serif;
  }
}

@layer components {
  input[type="checkbox"]:checked ~ label span svg {
    @apply inline-flex;
  }

  .sticky .header-logo {
    @apply py-5 lg:py-2;
  }

  .sticky .menu-scroll.active {
    @apply opacity-70;
  }

  input#togglePlan:checked ~ .dot {
    @apply translate-x-full;
  }

  input#checkboxLabel:checked ~ .box span {
    @apply opacity-100;
  }
}

.text-shadow {
  text-shadow: 5px 5px 5px rgba(0, 0, 0, 0.5); /* Ombre légère */
}

@media (min-width: 1200px) and (max-width: 1399px) {
  /* Vos styles spécifiques */
  .ei_m {
    margin-top: -40px;
    margin-left: -14px;
  }
  .ca_m {
    margin-top: -33px;
    margin-left: -22px;
  }
  .mdj_m {
    margin-top: -39px;
    margin-left: -27px;
  }
  .mba_m {
    margin-top: -43px;
    margin-left: -43px;
  }
  .d_m {
    margin-top: -40px;
    margin-left: -48px;
  }
}
